{{outlet}}

<div class="ui segment two column middle aligned stackable grid">
  <div class="column" style="padding: 40px;">
    {{#if authenticationError}}
      <div class="ui ignored negative message">
        <div class="content">
          <p>Du har oppgitt feil brukernavn eller passord.</p>
        </div>
      </div>
    {{/if}}
    <div class="ui form">
      <div class="field">
        <label>Epost</label>
        <div class="ui left icon input">
          {{input value=email placeholder="Epost"}}
          <i class="user icon"></i>
        </div>
      </div>
      <div class="field">
        <label>Passord</label>
        <div class="ui left icon input">
          {{input type="password" value=password}}
          <i class="lock icon"></i>
        </div>
      </div>
       {{#if isLoading}}
        <button class="ui blue submit button disabled">Logger inn...</button>
      {{else}}
        <button {{action "login"}} class="ui blue submit button">Logg inn</button>
      {{/if}}
    </div>
  </div>
  <div class="ui vertical divider">
    eller
  </div>
  <div class="center aligned column">
    {{!-- TODO: Move URL to controller and use action to log in using DNT Connect --}}
    <a href="/auth/login/dnt" class="ui big green labeled icon button">
      <i class="arrow right icon"></i>
      DNT-bruker
    </a>
  </div>
</div>
