<section>
  <h3 class="ui header">Bilder</h3>
  <div class="ui info message">
    Gode bilder er viktig for å formidle hvordan det ser ut på hytta. Legg inn nok bilder til at man får et godt inntrykk av hytta, men pass på at det ikke blir for mange av lignende motiver.
  </div>

  <div class="field">
    <label>
      Hvilke bilder skal vises først
      {{#ui-help-text}}
        Dette valget styrer hvilke bilder som vises først for hytta på UT.no. Ved for eksempel å velge Sommer så vises bildene kategorisert som sommerbilder først.
      {{/ui-help-text}}
    </label>
    {{ui-dropdown value=sesong content=SESONG_CHOICES optionValuePath="value" optionLabelPath="label"}}
  </div>

  <div class="field">
    {{dnt-photo-manager-uploader createPhoto="createPhoto"}}
  </div>

  {{dnt-photo-manager
    photos=bilder
    categorize="categorize"
    removePhoto="removePhoto"
    categories=KATEGORI_CHOICES}}

  {{dnt-photo-manager
    photos=bilder
    category="sommer"
    categorize="categorize"
    removePhoto="removePhoto"
    categories=KATEGORI_CHOICES}}

  {{dnt-photo-manager
    photos=bilder
    category="vinter"
    categorize="categorize"
    removePhoto="removePhoto"
    categories=KATEGORI_CHOICES}}

  {{dnt-photo-manager
    photos=bilder
    category="interiør"
    categorize="categorize"
    removePhoto="removePhoto"
    categories=KATEGORI_CHOICES}}

</section>
