{{#if userHasAccess}}
  <td>
    {{#link-to 'cabins.edit' cabin.id}}{{cabin.navn}}{{/link-to}}
  </td>
  <td>
    {{cabin.status}}
  </td>
  <td>
    {{moment-format cabin.endret "DD.MM.YYYY HH.mm"}}
  </td>
  <td>
    {{#link-to 'cabins.edit' cabin.id}}Rediger{{/link-to}}
  </td>
{{else}}
  <td colspan="4">
    {{cabin.navn}}
    <div class="meta">
      <span>Du kan ikke åpne denne hytta for redigering</span>
    </div>
    <a class="ui mini right corner yellow label">
      <i class="lock icon"></i>
    </a>
  </td>
{{/if}}
