<section>
  <h3 class="ui header">Kontakt</h3>
  <a class="anchor" id="kontakt"></a>
  <div class="field">
    <label>Eies av</label>
    {{ui-dropdown-remote
      query-url="/api/v1/group/?navn=~{query}"
      object-url="/api/v1/group/{id}"
      value=model.privat.juridisk_eier
      text=model.juridisk_eier.navn
      placeholder="Finn gruppe..."}}
  </div>
  <div class="field">
    <label>Drives av</label>
    {{ui-dropdown-remote
      query-url="/api/v1/group/?navn=~{query}"
      object-url="/api/v1/group/{id}"
      value=model.privat.vedlikeholdes_av
      text=model.vedlikeholdes_av.navn
      placeholder="Finn gruppe..."}}
  </div>

  <div class="field">
    <label>Kontakt</label>
    {{ui-dropdown-remote
      query-url="/api/v1/group/?navn=~{query}"
      object-url="/api/v1/group/{id}"
      value=model.kontaktinfo_gruppe.gruppe_id
      text=model.kontaktinfo_gruppe.navn
      action="setKontaktinfoGruppeById"
      placeholder="Finn gruppe..."}}
  </div>

  <div class="ui list">
    <div class="item">
      <div class="header">Navn</div>
      {{model.kontaktinfo_gruppe.navn}}
    </div>
    <div class="item">
      <div class="header">Epost</div>
      {{model.kontaktinfo_gruppe.epost}}
    </div>
    <div class="item">
      <div class="header">Adresse</div>
      {{model.kontaktinfo_gruppe.adresse1}}
    </div>
    <div class="item">
      <div class="header">Postnummer</div>
      {{model.kontaktinfo_gruppe.postnummer}}
    </div>
    <div class="item">
      <div class="header">Poststed</div>
      {{model.kontaktinfo_gruppe.poststed}}
    </div>
  </div>

  <div class="field">
    {{ui-checkbox
      label="Det er mulighet å kontakte hytta direkte i sesong"
      checked=model.direkte_kontakt}}
  </div>

  {{#if model.direkte_kontakt}}
    <div class="field">
      <label>Kontaktperson</label>
      {{input value=model.kontaktinfo_i_sesong.kontaktperson}}
    </div>
    <div class="field">
      <label>Adresse</label>
      {{input value=model.kontaktinfo_i_sesong.adresse1}}
    </div>
    <div class="field">
      <label>Mobil</label>
      {{input value=model.kontaktinfo_i_sesong.mobil}}
    </div>
    <div class="field">
      <label>Telefon</label>
      {{input value=model.kontaktinfo_i_sesong.telefon}}
    </div>
    <div class="field">
      <label>Faks</label>
      {{input value=model.kontaktinfo_i_sesong.fax}}
    </div>
    <div class="field">
      <label>Epost</label>
      {{input value=model.kontaktinfo_i_sesong.epost}}
    </div>
  {{/if}}
</section>
