<section>
  <h3 class="ui header">Fasiliteter og tilrettelegginger</h3>
  <p>Legg til de som hytta er tilrettelagt for i lista.</p>
  <div class="ui info message">
    Merk at kommentar til tilrettelegginger ikke vil vises på UT.
  </div>
  <table class="ui table">
    <thead>
      <tr>
        <th class="four wide">Tilrettelagt for</th>
        <th>Kommentar</th>
        <th class="one wide">Fjern</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.tilrettelegginger as |tilrettelegging|}}
        <tr>
          <td>{{tilrettelegging.type}}</td>
          <td>{{input value=tilrettelegging.kommentar}}</td>
          <td>
            <button class="basic ui icon button" {{action "removeTilrettelegging" tilrettelegging}}>
              <i class="remove icon"></i>
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="3">
          {{#if TILRETTELEGGINGER_UNSELECTED_CHOICES}}
            {{ui-dropdown
              content=TILRETTELEGGINGER_UNSELECTED_CHOICES
              action="addTilrettelegging"
              placeholder="Legg til tilrettelagt for"
              search=true}}
          {{else}}
            <i class="icon info"></i>
            Alle tilgjengelige tilrettelegginger er lagt til.
          {{/if}}
        </th>
      </tr>
    </tfoot>
  </table>

  <p>Legg til fasiliteter og utstyr som er tilgjengelig på/ved hytta i lista. Skriv eventuelle kommentarer i kommentarfeltet der det er nødvendig med presiseringer, for eksempel "Aggregat i betjent sesong. Slås av kl. 23:00", "Fiskemulighet i vannet nedenfor hytta. Fiskekort kjøpes på hytta."</p>
  <table class="ui table">
    <thead>
      <tr>
        <th class="four wide">Fasilitet</th>
        <th>Kommentar</th>
        <th class="one wide">Fjern</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.fasiliteter as |fasilitet|}}
        <tr>
          <td>{{fasilitet.type}}</td>
          <td>{{input value=fasilitet.kommentar}}</td>
          <td>
            <button class="basic ui icon button" {{action "removeFasilitet" fasilitet}}>
              <i class="remove icon"></i>
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="3">
          {{#if FASILITETER_UNSELECTED_CHOICES}}
            {{ui-dropdown
              content=FASILITETER_UNSELECTED_CHOICES
              action="addFasilitet"
              placeholder="Legg til fasilitet"
              search=true}}
          {{else}}
            <i class="icon info"></i>
            Alle tilgjengelige fasiliteter er lagt til.
          {{/if}}
        </th>
      </tr>
    </tfoot>
  </table>

</section>
