<div class="ui card {{if photo.isInvalid "red"}}">
  <div class="content">
    {{#if photo.isInvalid}}
      <div class="ui red floating circular label">
        <i class="warning icon"></i>
      </div>
    {{/if}}
    <div class="ui transparent left icon input">
      <i class="align left icon"></i>
      {{input value=photo.beskrivelse placeholder="Mangler beskrivelse"}}
    </div>
  </div>
  <div class="image">
    {{#link-to "cabins.edit.photos.edit" photo.id}}
      <img class="ui fluid image" src="{{photo.img.1.url}}">
    {{/link-to}}
  </div>
  {{#if photo.er_ukategorisert}}
    <div class="extra content">
      <div class="ui basic buttons">
        <button class="ui button" {{action "categorize" "sommer"}}>Sommer</button>
        <button class="ui button" {{action "categorize" "vinter"}}>Vinter</button>
      </div>
    </div>
  {{/if}}
  <div class="extra content">
    {{#unless deleteMode}}
      <span class="left floated remove">
        <a {{action "toggleDeleteMode"}}>
          <i class="remove icon"></i>
          Fjern
        </a>
      </span>
      <span class="right floated">
        {{#link-to "cabins.edit.photos.edit" photo.id}}
          <i class="edit icon"></i>
          Rediger
        {{/link-to}}
      </span>
    {{else}}
      <span class="left floated remove">
        <a {{action "toggleDeleteMode"}}>
          <i class="life ring icon"></i>
          Avbryt
        </a>
      </span>
      <span class="right floated">
        <a {{action "deletePhoto" photo}}>
          <i class="trash icon"></i>
          Slett
        </a>
      </span>
    {{/unless}}
  </div>
</div>
