<section>
  <h3 class="ui header">Adkomst</h3>
  <table class="ui celled two column table">
    <thead>
      <tr>
        <th>Sommer</th>
        <th>Vinter</th>
      </tr>
    </thead>
    <tbody>
      <tr class="top aligned">
        <td>
          <div class="field">
            <label>
              Beskrivelse adkomst sommer
              {{#ui-help-text}}
                Adkomsten skal primært omtale raskeste/korteste adkomst fra nærmeste stoppested for offentlige kommunikasjon (der det er aktuelt) og fra nærmeste parkeringsplass hvor man kan komme med egen bil. I tillegg må det være en generell beskrivelse av hvilke offentlige transportmidler man må ta fra/til og av de viktigste veiene man kjører med egen bil. Husk å ta hensyn til ulike adkomstretninger. Ved adkomst via sti/rute bør dette beskrives generelt, og med avstand angitt i minutter eller timer, ikke i km, for eksempel "Følg merket rute fra parkeringsplassen og frem til hytta. Beregn ca 2 timer.". Unngå å skrive fullstendige rutebeskrivelser, men henvis/lenke til selve beskrivelsen av ruta i rutebasen.
              {{/ui-help-text}}
            </label>
            {{ck-editor value=model.tilkomst.privat.sommer toolbar="links"}}
          </div>
        </td>
        <td>
          <div class="field">
            <label>
              Beskrivelse adkomst vinter
              {{#ui-help-text}}
                Vinteradkomst bør beskrives spesifikt hvis denne er forskjellig fra sommeradkomst. Avstand her bør imidlertid angis i 100-m eller i km. f. eks: "Om vinteren er det bare brøytet til Mysuseter. Herfra er det 12 km inn til Rondvassbu langs merket løype (merket fra ca. 1. mars til og med påske)."
              {{/ui-help-text}}
            </label>
            {{ck-editor value=model.tilkomst.privat.vinter toolbar="links"}}
          </div>
        </td>
      </tr>
      <tr class="{{if tilkomst_kollektiv_enabled 'warning'}}">
        <td colspan="2">
          {{ui-checkbox
            label="Det er mulighet for adkomst ved hjelp av kollektivtransport"
            checked=tilkomst_kollektiv_enabled
            action="toggleTilkomstKollektiv"}}
          {{#if tilkomst_kollektiv_enabled}}
            <p>For at det skal komme frem på UT at det er mulighet for adkomst ved hjelp av kollektivtransport må det fylles ut en beskrivelse av hvordan i feltet nedenfor.</p>
          {{/if}}
        </td>
      </tr>
      {{#if tilkomst_kollektiv_enabled}}
        <tr class="top aligned">
          <td>
            <div class="field">
              <label>Beskrivelse kollektivtransport sommer</label>
              {{ck-editor value=model.tilkomst.kollektiv.sommer toolbar="links"}}
            </div>
          </td>
          <td>
            <div class="field">
              <label>Beskrivelse kollektivtransport vinter</label>
              {{ck-editor value=model.tilkomst.kollektiv.vinter toolbar="links"}}
            </div>
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>
</section>

