<section>
  <h3 class="ui header">Bilder</h3>
  <div class="ui info message">
    Gode bilder er viktig for å formidle hvordan det ser ut på hytta. Legg inn nok bilder til at man får et godt inntrykk av hytta, men pass på at det ikke blir for mange av lignende motiver.
  </div>

  <div class="field">
    <label>
      Aktuell sesong for hytta
      {{#ui-help-text}}
        Ved å velge hvilken sesong som gjelder for hytta nå, styrer man hvilke bilder som vises først på UT.no. Ved for eksempel å velge Sommer så vises bildene kategorisert som sommerbilder først.
      {{/ui-help-text}}
    </label>
    {{ui-dropdown value=sesong content=SESONG_CHOICES optionValuePath="value" optionLabelPath="label"}}
  </div>

  {{dnt-photo-manager-uploader createPhoto="createPhoto"}}

  <h3 class="ui top attached header">Ukategoriserte bilder</h3>
  <div class="ui attached segment">
    <div class="ui four column grid" data-category="">
      {{!dnt-photo-manager photos=ukategoriserte}}
      {{#each ukategoriserte as |photo index|}}
        {{dnt-photo-manager-list-item
          photo=photo
          removePhoto="removePhoto"}}
      {{/each}}
    </div>
  </div>
  <h3 class="ui attached header">#sommer</h3>
  <div class="ui attached segment">
    <div
      class="ui four column grid {{unless har_sommerbilder "ui info message"}}"
      data-category="sommer">
      {{#if har_sommerbilder}}
        {{!dnt-photo-manager photos=sommerbilder category="sommer"}}
        {{#each sommerbilder as |photo index|}}
          {{dnt-photo-manager-list-item
            photo=photo
            removePhoto="removePhoto"}}
        {{/each}}
      {{else}}
        Ingen bilder er kategorisert som sommerbilder. Dra og slipp et bilde her for å merke det som sommerbilde.
      {{/if}}
    </div>
  </div>
  <h3 class="ui attached header">#vinter</h3>
  <div class="ui attached segment">
    <div
      class="ui four column grid {{unless har_vinterbilder "ui info message"}}"
      data-category="vinter">
      {{#if har_vinterbilder}}
        {{!dnt-photo-manager photos=vinterbilder category="vinter}}
        {{#each vinterbilder as |photo index|}}
          {{dnt-photo-manager-list-item
            photo=photo
            removePhoto="removePhoto"}}
        {{/each}}
      {{else}}
        Ingen bilder er kategorisert som vinterbilder. Dra og slipp et bilde her for å merke det som vinterbilde.
      {{/if}}
    </div>
  </div>
</section>
