{{#if userHasAccess}}
  <td>
    {{#link-to 'cabins.edit' cabin.id}}{{cabin.navn}}{{/link-to}}
  </td>
  <td>
    {{if cabin.er_publisert 'Publisert' 'Kladd'}}
  </td>
  <td>
    {{moment-format cabin.endret "DD.MM.YYYY HH.mm"}}
  </td>
  <td>
    <div class="ui horizontal bulleted list">
      {{#link-to 'cabins.edit' cabin.id class="item"}}Rediger{{/link-to}}
      {{#if userIsAdmin }}
        <a class="item">Slett</a>
        {{#ui-popup on="click"}}
          <p>Er du sikker på at du vil slette hytta? Dette kan ikke angres.</p>
          <button class="ui red button" {{action "deleteCabin"}}>
            Slett hytta
          </button>
          <button class="ui button close">
            Avbryt
          </button>
        {{/ui-popup}}
      {{/if}}
      {{#if cabin.er_publisert}}
        <a href="{{utUrl}}" class="item" target="_blank">UT.no</a>
      {{else}}
        <a class="disabled item" style="pointer-events: auto;">UT.no</a>
        {{#ui-popup on="hover"}}
          Du kan ikke se hytta på UT.no fordi den ikke er publisert
        {{/ui-popup}}
      {{/if}}
    </div>
  </td>
{{else}}
  <td colspan="4">
    {{cabin.navn}}
    <div class="meta">
      <span>Du kan ikke åpne denne hytta for redigering</span>
    </div>
    <a class="ui mini right corner yellow label">
      <i class="lock icon"></i>
    </a>
  </td>
{{/if}}
