<section>
  <h3 class="ui header">Fasiliteter</h3>
  <p>Hvilke grupper hytta er tilrettelagt for?</p>
  <table class="ui two column table">
    <thead>
      <tr>
        <th>Tilrettelagt for</th>
        <th>Kommentar</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.tilrettelegginger as |tilrettelegging|}}
        <tr>
          <td>{{tilrettelegging.type}}</td>
          <td>{{input value=tilrettelegging.kommentar}}</td>
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="2">
          {{ui-dropdown
            content=TILRETTELEGGINGER_UNSELECTED_CHOICES
            action="addTilrettelegging"
            placeholder="Legg til tilrettelagt for"
            search=true}}
        </th>
      </tr>
    </tfoot>
  </table>

  <table class="ui two column table">
    <thead>
      <tr>
        <th>Fasilitet</th>
        <th>Kommentar</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.fasiliteter as |fasilitet|}}
        <tr>
          <td>{{fasilitet.type}}</td>
          <td>{{input value=fasilitet.kommentar}}</td>
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="2">
          {{ui-dropdown
            content=FASILITETER_UNSELECTED_CHOICES
            action="addFasilitet"
            placeholder="Legg til fasilitet"
            search=true}}
        </th>
      </tr>
    </tfoot>
  </table>

</section>
