    <a class="ui fluid image" {{action "showModal"}}>
      {{#unless isValid}}
        <div class="ui red floating circular label">
          <i class="warning icon"></i>
        </div>
      {{/unless}}
      <img class="ui bordered rounded image" src="{{photo.img.1.url}}">
    </a>
    <div class="ui modal">
      <i class="close icon"></i>
      <div class="header">
        Rediger bilde
      </div>
      <div class="content">
        <div class="ui grid">
          <div class="row">
            <div class="six wide column">
              <img class="ui bordered rounded image" src="{{photo.img.1.url}}">
            </div>
            <div class="ten wide column">
              <div class="ui form">
                <div class="field">
                  <label>Beskrivelse</label>
                  <div class="ui left icon input">
                    {{input value=photo.beskrivelse class="fluid" placeholder="Beskrivelse" data-validate=beskrivelsePath}}
                    <i class="unhide icon"></i>
                  </div>
                  {{#if photo.validation.beskrivelse}}
                    <div class="ui pointing red basic label">
                      {{photo.validation.beskrivelse}}
                    </div>
                  {{/if}}
                </div>
                <div class="field">
                  <label>Fotograf</label>
                  <div class="fields">
                    <div class="eight wide field">
                      <div class="ui left icon input">
                        {{input value=photo.fotograf.navn class="fluid" placeholder="Navn" data-validate=fotografNavnPath}}
                        <i class="photo icon"></i>
                      </div>
                    </div>
                    <div class="eight wide field">
                      <div class="field">
                        <div class="ui left icon input">
                          {{input value=photo.fotograf.epost class="fluid" placeholder="Epost" data-validate=fotografEpostPath}}
                          <i class="mail icon"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    {{ui-checkbox
                      label="Dette bildet kan brukes fritt"
                      checked=photo.fri_bruk}}
                    <i class="blue icon help circle"></i>
                    {{#ui-popup}}
                      <p>
                        <strong>Fri bruk:</strong>
                        Bildet kan benyttes til alle formål mot kreditering
                        (<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.no">CC BY-SA 4.0</a>).
                      </p>
                      <p>
                        <strong>Ikke fri bruk:</strong>
                        Bildet kan ikke benyttes til kommersielle formål, men kan ellers benyttes av alle mot kreditering
                        (<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.no">CC BY-NC-SA 4.0</a>).
                      </p>
                    {{/ui-popup}}
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <label>Tagger</label>
                    {{ui-dropdown value=photo.tags allowAdditions=true multiple=true search=true content=photo.TAGS_CHOICES}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="ui red deny button" {{action "discardChanges"}}>
          Avbryt
        </div>
        <div class="ui positive icon button" {{action "save"}}>
          Lagre endringer
        </div>
      </div>
    </div>
