<section>
  <h3 class="ui header">Bilder</h3>
  <div class="ui info message">
    Gode bilder er viktig for å formidle hvordan det ser ut på hytta. Legg inn nok bilder til at man får et godt inntrykk av hytta, men pass på at det ikke blir for mange av lignende motiver.
  </div>
  <h3 class="ui top attached header">Ukategoriserte bilder</h3>
  <div class="ui attached segment">
    <div class="ui middle aligned selection list" data-category="">
      {{!dnt-photo-manager photos=ukategoriserte}}
      {{#each ukategoriserte as |photo index|}}
        {{dnt-photo-manager-list-item photo=photo}}
      {{/each}}
    </div>
  </div>
  <h3 class="ui attached header">#sommer</h3>
  <div class="ui attached segment">
    <div
      class="ui middle aligned selection list {{unless har_sommerbilder "ui info message"}}"
      data-category="sommer">
      {{#if har_sommerbilder}}
        {{!dnt-photo-manager photos=sommerbilder}}
        {{#each sommerbilder as |photo index|}}
          {{dnt-photo-manager-list-item photo=photo}}
        {{/each}}
      {{else}}
        Ingen bilder er kategorisert som sommerbilder. Dra og slipp et bilde her for å merke det som sommerbilde.
      {{/if}}
    </div>
  </div>
  <h3 class="ui attached header">#vinter</h3>
  <div class="ui attached segment">
    <div
      class="ui middle aligned selection list {{unless har_vinterbilder "ui info message"}}"
      data-category="vinter">
      {{#if har_vinterbilder}}
        {{!dnt-photo-manager photos=vinterbilder}}
        {{#each vinterbilder as |photo index|}}
          {{dnt-photo-manager-list-item photo=photo}}
        {{/each}}
      {{else}}
        Ingen bilder er kategorisert som vinterbilder. Dra og slipp et bilde her for å merke det som vinterbilde.
      {{/if}}
    </div>
  </div>
</section>
