<div class="ui fixed top inverted menu">
  <div class="ui container">
    {{#if session.model.er_sherpabruker}}
      <a href="http://dnt.no/sherpa" class="header item logo">
        <img src="assets/images/dnt-logo-circle.svg">
      </a>
      {{#ui-popup inverted=true on="hover" position="bottom center"}}Gå tilbake til Sherpa{{/ui-popup}}
    {{/if}}
    <a href="/" class="header item">
      Hytteadmin
    </a>
    {{#if session.isAuthenticated}}
      {{#link-to 'cabins' class="item"}}
        <i class="home icon"></i> Hytter
      {{/link-to}}
      {{outlet 'header-left'}}
      <div class="right menu">
        {{outlet 'header-right'}}
        {{#link-to 'session.logout' class="item"}}
          <i class="user icon"></i> Logg ut
        {{/link-to}}
      </div>
    {{/if}}
  </div>
</div>
<div class="ui container">
  {{outlet}}
  {{outlet 'editor'}}
  {{outlet 'cabins'}}
</div>
