<div class="ui fixed top inverted menu">
  <div class="ui container">
    <div href="#" class="header item">
      Hytteadmin
    </div>
    {{#if session.isAuthenticated}}
      {{#link-to 'cabins' class="item"}}
        <i class="home icon"></i> Hytter
      {{/link-to}}
      {{outlet 'header-left'}}
      <div class="right menu">
        {{outlet 'header-right'}}
        {{#if session.model.er_sherpabruker}}
          <a href="http://dnt.no/sherpa" class="header item">
            <i class="icon sign in"></i>
            Sherpa
          </a>
        {{/if}}
        {{#link-to 'session.logout' class="item"}}
          <i class="user icon"></i> Logg ut
        {{/link-to}}
      </div>
    {{/if}}
  </div>
</div>
<div class="ui container">
  {{outlet}}
  {{outlet 'editor'}}
  {{outlet 'cabins'}}
</div>
