{{dnt-hytteadmin-messages warnings=warnings errors=errors}}

<div class="ui grid">
  <div class="sixteen wide column">
    {{#ui-form isSaving=model.isSaving validationRules=validationRules validateImmidiately=true}}
      {{dnt-hytteadmin-editor-section-bilder bilder=model.bilder createPhoto="createPhoto" removePhoto="removePhoto"}}
      {{outlet "photos-edit"}}

      {{dnt-hytteadmin-editor-section-generelt model=model}}
      <div class="ui section divider"></div>

      {{dnt-hytteadmin-editor-section-kontakt model=model}}
      <div class="ui section divider"></div>

      {{dnt-hytteadmin-editor-section-fasiliteter model=model}}
      <div class="ui section divider"></div>

      {{dnt-hytteadmin-editor-section-beskrivelse model=model}}
      <div class="ui section divider"></div>

      {{dnt-hytteadmin-editor-section-adkomst model=model}}
      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">
          Åpningstider
          {{#ui-help-text}}
            <p class="help">Hvis hytta er tilgjengelig med samme betjeningsgrad hele året er det ikke nødvendig å angi dato, bare kryss av for "Helårs" og velg nøkkeltype og betjeningsgrad. NB! Ikke kryss av for helårsåpen hvis hytta er stengt/utilgjengelig i perioder (se nedenfor).</p>
            <p class="help">Ved variasjon i åpningstider og betjeningsgrad må det legges inn en komplett og kronologisk datoliste for åpningstider/betjeningsgrad for hele kalenderåret, fra 1.1 - 31.12. Legg inn én datolinje for hver åpningstidsperiode. NB! Hvis hytta er stengt/utilgjengelig i perioder, er det spesielt viktig at perioden(e) defineres som stengt i åpningstidslista.</p>
          {{/ui-help-text}}
        </h3>
        <div class="grouped fields">
          <label>Åpen kun mot bestilling</label>
          <div class="field">
            {{ui-checkbox
              type="radio"
              name="må_bestilles"
              value="Nei"
              label="Nei - Hytta kan ikke bestilles på forhånd"
              checked=model.privat.kun_bestilling}}
          </div>
          <div class="field">
            {{ui-checkbox
              type="radio"
              name="må_bestilles"
              value="Ja"
              label="Ja - Hele eller deler av hytta må bestilles på forhånd"
              checked=model.privat.kun_bestilling}}
          </div>
          <div class="field">
            {{ui-checkbox
              type="radio"
              name="må_bestilles"
              value="Delvis"
              label="Delvis - Hele eller deler av hytta kan bestilles på forhånd"
              checked=model.privat.kun_bestilling}}
          </div>
        </div>
        {{#if model.enable_kun_bestilling_kommentar}}
          <div class="field">
            <label>Kommentar</label>
            {{input
              type="text"
              value=model.privat.kun_bestilling_kommentar
              placeholder="Hvordan kan man bestille?"}}
          </div>
        {{/if}}

        {{ui-checkbox
          label="Hytta er åpen hele året"
          checked=model.er_helårs}}
        <table class="ui celled table">
          <thead>
            <tr>
              {{#unless model.er_helårs}}
                <th>Fra</th>
                <th>Til</th>
              {{/unless}}
              <th>Kommentar</th>
              <th>Nøkkel</th>
              <th>Betjeningsgrad</th>
              {{#unless model.er_helårs}}
                <th class="one wide">Fjern</th>
              {{/unless}}
            </tr>
          </thead>
          <tbody>
            {{#each model.privat.åpningstider as |periode|}}
              <tr>
                {{#unless model.er_helårs}}
                  <td>{{pikaday-input value=periode.fra}}</td>
                  <td>{{pikaday-input value=periode.til}}</td>
                {{/unless}}
                <td>{{input value=periode.kommentar}}</td>
                <td>{{ui-dropdown content=model.NØKKEL_CHOICES value=periode.nøkkel}}</td>
                <td>{{ui-dropdown content=model.BETJENINGSGRAD_CHOICES value=periode.betjeningsgrad}}</td>
                {{#unless model.er_helårs}}
                  <td>
                    <button class="basic ui icon button" {{action "removeÅpningstiderPeriode" periode}}>
                      <i class="remove icon"></i>
                    </button>
                  </td>
                {{/unless}}
              </tr>
            {{/each}}
          </tbody>
          {{#unless model.er_helårs}}
            <tfoot>
              <tr>
                <th colspan="6">
                  <button class="ui primary button" {{action "addÅpningstiderPeriode"}}><i class="icon add"></i> Legg til periode</button>
                </th>
              </tr>
            </tfoot>
          {{/unless}}
        </table>

        {{#if model.har_spesialnøkkel}}
          <div class="field">
            <label>Kommentar til spesialnøkkel</label>
            {{input type="text" value=model.privat.spesialnøkkel_kommentar placeholder="Hvor får man tak i spesialnøkkel til hytta?"}}
          </div>
        {{/if}}

      </section>

      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">Sengeplasser</h3>
        <p>Hvor mange sengeplasser er det på hytta?</p>
        <table class="ui celled four column table">
          <thead>
            <tr>
              <th class="single line">Betjent kvarter {{#ui-help-text}}Hvor mange sengeplasser er det i det betjente kvarteret?{{/ui-help-text}}</th>
              <th>Selvbetjent kvarter {{#ui-help-text}}Hvor mange sengeplasser er det i det selvbetjente kvarteret?{{/ui-help-text}}</th>
              <th>Ubetjent kvarter {{#ui-help-text}}Hvor mange sengeplasser er det i det ubetjente kvarteret?{{/ui-help-text}}</th>
              <th>Vinter {{#ui-help-text}}Hvor mange sengeplasser er det i vintersesongen? Angi kun hvis annerledes enn for sommersesong.{{/ui-help-text}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{input type="text" value=model.privat.senger.betjent}}</td>
              <td>{{input type="text" value=model.privat.senger.selvbetjent}}</td>
              <td>{{input type="text" value=model.privat.senger.ubetjent}}</td>
              <td>{{input type="text" value=model.privat.senger.vinter}}</td>
            </tr>
          </tbody>
        </table>
      </section>

      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">Lenker</h3>
        {{#dnt-link-manager links=model.lenker validationRules=validationRules}}{{/dnt-link-manager}}
        <div class="ui info message">
          Lenkenes tittel vil ikke bli vist på UT.no. Bruk feltet <strong>Type</strong> for å bestemme hva lenken skal hete på UT.no.
        </div>
      </section>

      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">Geografi</h3>
        {{#if model.har_posisjon}}
          {{leaflet-map marker=model.lat_lng center=model.lat_lng zoom="11"}}
        {{/if}}
        <div class="ui grid">
          <div class="three column row">
            <div class="column">
              <h4 class="ui dividing header">Posisjon</h4>
              {{#if model.har_posisjon}}
                <div class="ui list">
                  <div class="item">
                    <div class="header">Breddegrad</div>
                    <div class="description">{{model.latitude}}</div>
                  </div>
                  <div class="item">
                    <div class="header">Lengdegrad</div>
                    <div class="description">{{model.longitude}}</div>
                  </div>
                  <div class="item">
                    <div class="header">Høyde over havet</div>
                    <div class="description">{{model.geojson.properties.altitude}} moh.</div>
                  </div>
                </div>
              {{else}}
                Hytta har ingen posisjon.
              {{/if}}
              {{#if user.model.er_admin}}
                {{#if model.har_posisjon}}
                  <a>Endre posisjon</a>
                {{else}}
                  <a>Sett posisjon</a>
                {{/if}}
              {{/if}}
              {{#ui-popup}}
                <div class="field">
                  <label>Breddegrad</label>
                  {{input value=model.latitude}}
                </div>
                <div class="field">
                  <label>Lengdegrad</label>
                  {{input value=model.longitude}}
                </div>
                <div class="field">
                  <label>Høyde over havet</label>
                  {{input
                    type="text"
                    value=model.geojson.properties.altitude}}
                </div>
              {{/ui-popup}}
            </div>
            <div class="column">
              <h4 class="ui dividing header">Kart</h4>
              <div class="field">
                <label>
                  Kartverkets kart Norge 1:50 000
                  {{#ui-help-text}}Hvilket/hvilke kart er hytta inntegnet på? Eksempel på skrivemåte: Norge 1:50 000 1826 IV Tjøtta fra Statens kartverk.{{/ui-help-text}}
                </label>
                {{input type="text" value=model.kart}}
              </div>
              <div class="field">
                <label>
                  Nordecas Norgesserie 1:50 000
                  {{#ui-help-text}}Hvilket/hvilke turkart er hytta inntegnet på? Eksempel på skrivemåte: turkartet Jotunheimen Aust i 1:50 000 fra Ugland It Group AS.{{/ui-help-text}}
                </label>
                {{ui-dropdown
                  multiple=true
                  search=true
                  allowAdditions=true
                  value=model.turkart
                  dropdown=false}}
              </div>
            </div>
            <div class="column">
              <div class="ui fluid vertical menu">
                <div class="item">
                  <div class="ui list">
                    <div class="item">
                      <div class="header">
                        Områder
                        {{#ui-help-text}}Hvilket/hvilke område(r) ligger hytta i? Det er mulig å angi flere områder dersom det er nødvendig.{{/ui-help-text}}
                      </div>
                    </div>
                    {{#if model.områder}}
                      {{#each model.områder as |område|}}
                        <div class="item">
                          <span>{{område.navn}}</span>
                        </div>
                      {{/each}}
                    {{else}}
                      <div class="item">
                        <span>Ingen områder</span>
                      </div>
                    {{/if}}
                  </div>
                </div>
                <div class="item">
                  {{ui-dropdown-remote-area
                    placeholder="Legg til område"
                    action="addOmrådeById"}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="ui section divider"></div>

    {{/ui-form}}

  </div>
</div>
{{outlet}}
