<div class="ui grid">
  <div class="sixteen wide column">
    <form class="ui form">
      <section>
        <h3 class="ui header">Generelt</h3>
        <a class="anchor" id="generelt"></a>
        <div class="field">
          <label>Navn</label>
          {{input type="text" value=model.navn placeholder="Navn"}}
        </div>
        <div class="field">
          <label>Byggeår</label>
          {{input type="text" value=model.byggeår placeholder="Byggeår"}}
        </div>
        <div class="field">
          <label>Betjeningsgrad</label>
          {{ui-dropdown content=model.BETJENINGSGRAD_CHOICES value=model.betjeningsgrad}}
        </div>
        <div class="field">
          <label>Hyttetype</label>
          {{ui-dropdown content=model.HYTTETYPE_CHOICES value=model.hyttetype}}
        </div>

      </section>

      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">Beskrivelse</h3>
        {{#ui-tabs}}
          <div class="ui top attached tabular menu">
            <div class="item active" data-tab="tab-beskrivelse"><i class="no flag"></i> Norsk</div>
            <div class="item" data-tab="tab-description"><i class="gb flag"></i> Engelsk</div>
          </div>
          <div class="ui bottom attached tab segment active" data-tab="tab-beskrivelse">
            {{ck-editor value=model.beskrivelse}}
          </div>
          <div class="ui bottom attached tab segment" data-tab="tab-description">
            {{ck-editor value=model.description}}
          </div>
        {{/ui-tabs}}
      </section>

      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">Kontakt</h3>
        <a class="anchor" id="kontakt"></a>
        <div class="field">
          <label>Eies av</label>
          {{ui-dropdown-remote
            query-url="/api/v1/group/?navn=~{query}"
            object-url="/api/v1/group/{id}"
            value=model.privat.juridisk_eier
            text=model.juridisk_eier.navn
            placeholder="Finn gruppe..."}}
        </div>
        <div class="field">
          <label>Drives av</label>
          {{ui-dropdown-remote
            query-url="/api/v1/group/?navn=~{query}"
            object-url="/api/v1/group/{id}"
            value=model.privat.vedlikeholdes_av
            text=model.vedlikeholdes_av.navn
            placeholder="Finn gruppe..."}}
        </div>

        <table class="ui celled three column table">
          <thead>
            <tr>
              <th></th>
              <th>
                I sesong
              </th>
              <th>Utenom sesong</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Kontaktperson</td>
              <td>{{input value=model.kontaktinfo_i_sesong.kontaktperson}}</td>
              <td>{{input value=model.kontaktinfo_utenom_sesong.kontaktperson}}</td>
            </tr>
            <tr>
              <td>Adresse</td>
              <td>{{input value=model.kontaktinfo_i_sesong.adresse1}}</td>
              <td>{{input value=model.kontaktinfo_utenom_sesong.adresse1}}</td>
            </tr>
            <tr>
              <td>Mobil</td>
              <td>{{input value=model.kontaktinfo_i_sesong.mobil}}</td>
              <td>{{input value=model.kontaktinfo_utenom_sesong.mobil}}</td>
            </tr>
            <tr>
              <td>Telefon</td>
              <td>{{input value=model.kontaktinfo_i_sesong.telefon}}</td>
              <td>{{input value=model.kontaktinfo_utenom_sesong.telefon}}</td>
            </tr>
            <tr>
              <td>Faks</td>
              <td>{{input value=model.kontaktinfo_i_sesong.fax}}</td>
              <td>{{input value=model.kontaktinfo_utenom_sesong.fax}}</td>
            </tr>
            <tr>
              <td>Epost</td>
              <td>{{input value=model.kontaktinfo_i_sesong.epost}}</td>
              <td>{{input value=model.kontaktinfo_utenom_sesong.epost}}</td>
            </tr>
          </tbody>
        </table>
      </section>

      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">Adkomst</h3>
        <div class="ui info message">
          Merk at kun feltene for privat adkomst vil vises på UT.no.
        </div>
        <table class="ui celled two column table">
          <thead>
            <tr>
              <th>Sommer</th>
              <th>Vinter</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="field">
                  <label>Beskrivelse adkomst sommer</label>
                  {{textarea value=model.tilkomst.privat.sommer}}
                </div>
              </td>
              <td>
                <div class="field">
                  <label>Beskrivelse adkomst vinter</label>
                  {{textarea value=model.tilkomst.privat.vinter}}
                </div>
              </td>
            </tr>
            <tr class="{{if tilkomst_kollektiv_enabled 'warning'}}">
              <td colspan="2">
                {{ui-checkbox label="Det er mulighet for adkomst ved hjelp av kollektivtransport" checked=tilkomst_kollektiv_enabled action="toggleTilkomstKollektiv"}}
                {{#if tilkomst_kollektiv_enabled}}
                  <p>For at det skal komme frem på UT at det er mulighet for adkomst ved hjelp av kollektivtransport må det fylles ut en beskrivelse av hvordan i feltet nedenfor.</p>
                {{/if}}
              </td>
            </tr>
            {{#if tilkomst_kollektiv_enabled}}
              <tr>
                <td>
                  <div class="field">
                    <label>Beskrivelse kollektivtransport sommer</label>
                    {{textarea value=model.tilkomst.kollektiv.sommer}}
                  </div>
                </td>
                <td>
                  <div class="field">
                    <label>Beskrivelse kollektivtransport vinter</label>
                    {{textarea value=model.tilkomst.kollektiv.vinter}}
                  </div>
                </td>
              </tr>
            {{/if}}
          </tbody>
        </table>
      </section>

      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">Åpningstider</h3>
        <a class="anchor" id="åpningstider"></a>

        <div class="grouped fields">
          <label>Åpen kun mot bestilling</label>
          <div class="field">
            {{ui-checkbox
              type="radio"
              name="må_bestilles"
              value="Nei"
              label="Nei - Hytta kan ikke bestilles på forhånd"
              checked=model.privat.kun_bestilling}}
          </div>
          <div class="field">
            {{ui-checkbox
              type="radio"
              name="må_bestilles"
              value="Ja"
              label="Ja - Hele eller deler av hytta må bestilles på forhånd"
              checked=model.privat.kun_bestilling}}
          </div>
          <div class="field">
            {{ui-checkbox
              type="radio"
              name="må_bestilles"
              value="Delvis"
              label="Delvis - Hele eller deler av hytta kan bestilles på forhånd"
              checked=model.privat.kun_bestilling}}
          </div>
        </div>
        {{#if model.enable_kun_bestilling_kommentar}}
          <div class="field">
            <label>Kommentar</label>
            {{input type="text" value=model.privat.kun_bestilling_kommentar placeholder="Hvordan kan man bestille?"}}
          </div>
        {{/if}}

        <table class="ui celled table">
          <thead>
            <tr>
              <th>Fra</th>
              <th>Til</th>
              <th>Kommentar</th>
              <th>Nøkkel</th>
              <th>Betjeningsgrad</th>
              <th>Fjern</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.privat.åpningstider as |periode|}}
              <tr>
                <td>{{input value=periode.fra}}</td>
                <td>{{input value=periode.til}}</td>
                <td>{{input value=periode.kommentar}}</td>
                <td>{{input value=periode.nøkkel}}</td>
                <td>{{ui-dropdown content=model.BETJENINGSGRAD_CHOICES value=periode.betjeningsgrad}}</td>
                <td>
                  <button class="basic ui icon button" {{action "removeÅpningstiderPeriode" periode}}>
                    <i class="remove icon"></i>
                  </button>
                </td>
              </tr>
            {{/each}}
          </tbody>
          <tfoot>
            <tr>
              <th colspan="6">
                <button class="ui primary button" {{action "addÅpningstiderPeriode"}}><i class="icon add"></i> Legg til periode</button>
              </th>
            </tr>
          </tfoot>
        </table>

      </section>

      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">Sengeplasser</h3>
        <p>Hvor mange sengeplasser er det på hytta?</p>
        <table class="ui celled five column table">
          <thead>
            <tr>
              <th class="single line">Betjent kvarter</th>
              <th>Selvbetjent kvarter</th>
              <th>Ubetjent kvarter</th>
              <th>Vinter</th>
              <th>Ekstrasenger</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{input type="text" value=model.privat.senger.betjent}}</td>
              <td>{{input type="text" value=model.privat.senger.selvbetjent}}</td>
              <td>{{input type="text" value=model.privat.senger.ubetjent}}</td>
              <td>{{input type="text" value=model.privat.senger.vinter}}</td>
              <td>{{input type="text" value=model.privat.senger.ekstra}}</td>
            </tr>
          </tbody>
        </table>
      </section>

      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">Lenker</h3>
        {{#dnt-link-manager links=model.lenker}}{{/dnt-link-manager}}
        <div class="ui info message">
          Lenkenes tittel vil ikke bli vist på UT.no. Bruk feltet <strong>Type</strong> for å bestemme hva lenken skal hete på UT.no.
        </div>
      </section>

      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">Geografi</h3>
        <div class="ui grid">
          <div class="twelve wide column">
            {{leaflet-map}}
          </div>
          <div class="four wide column">
            <div class="field">
              <label>Høyde over havet</label>
              {{input type="text" readonly="" value=model.geojson.properties.altitude}}
            </div>

            <div class="ui fluid vertical menu">
              <div class="item">
                <div class="ui list">
                  <div class="item">
                    <div class="header">Områder</div>
                  </div>
                  {{#if model.områder}}
                    {{#each model.områder as |område|}}
                      <div class="item">
                        <i class="remove circle icon"></i>
                        <span>{{område.navn}}</span>
                      </div>
                    {{/each}}
                  {{else}}
                    <div class="item">
                      <span>Ingen områder</span>
                    </div>
                  {{/if}}
                </div>
              </div>
              <div class="item">
                {{ui-dropdown-remote-area placeholder="Legg til område" action="addOmrådeById"}}
              </div>
            </div>

            <div class="field">
              <label>Kart 1:50 000 – M711</label>
              {{input type="text" value=model.kart}}
            </div>
            <div class="field">
              <label>Turkart</label>
              {{ui-dropdown multiple=true search=true allowAdditions=true value=model.turkart}}
            </div>
            {{!-- {{#if user.er_admin}} --}}
              <h4 class="ui dividing header">Posisjon</h4>
              <div class="field">
                <label>Breddegrad</label>
                {{input value=model.latitude}}
              </div>
              <div class="field">
                <label>Lengdegrad</label>
                {{input value=model.longitude}}
              </div>
            {{!-- {{/if}} --}}
          </div>
        </div>
      </section>

      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">Bilder</h3>
        <div class="ui info message">
          <div class="header">
            Endringer i bilder vil ikke bli lagret
          </div>
          Implementasjon av dette gjenstår.
        </div>
        <div class="ui grid">
          {{#each model.bilder as |bilde|}}
            <div class="four wide column">
              <img class="ui fluid image" src="{{bilde.img.1.url}}">
              {{input type="text" value=bilde.beskrivelse placeholder="Beskrivelse"}}
              {{input type="text" value=bilde.fotograf.navn placeholder="Navn"}}
              {{input type="text" value=bilde.fotograf.epost placeholder="Epost"}}
              {{input type="text" value=bilde.fotograf.kreditering placeholder="Kreditering"}}
              {{ui-dropdown multiple=true search=true value=bilde.tags content=bilde.TAGS_CHOICES}}
            </div>
          {{/each}}
        </div>
      </section>

    </form>

  </div>
</div>
{{outlet}}
