{{dnt-hytteadmin-messages warnings=warnings errors=errors}}

<div class="ui grid">
  <div class="sixteen wide column">
    {{#ui-form isSaving=model.isSaving validationRules=validationRules}}
      <section>
        <h3 class="ui header">Generelt</h3>
        <a class="anchor" id="generelt"></a>
        <div class="field">
          <label>Navn</label>
          {{input type="text" value=model.navn placeholder="Navn" data-validate="navn"}}
        </div>
        <div class="field">
          <label>Byggeår</label>
          {{input type="text" value=model.byggeår placeholder="Byggeår"}}
        </div>
        <div class="field">
          <label>Betjeningsgrad</label>
          {{ui-dropdown content=model.BETJENINGSGRAD_CHOICES value=model.betjeningsgrad}}
          <div class="help">
            <div class="ui list">
              <div class="item">
                <div class="header">Ubetjent hytte</div>
                <p>Dette er små hytter (5-25 sengeplasser), samt ofte ei sikringsbu med ekstraplasser. Hyttene er utstyrt med senger og dyner (på enkelte kun tepper), kokemuligheter med kjeler, dekketøy og ved. Hyttene er åpne eller låst med DNTs standardnøkkel.</p>
              </div>
              <div class="item">
                <div class="header">Selvbetjent hytte</div>
                <p>Som ubetjent hytte, men med et rikholdig matvarelager med middagsretter, pålegg, knekkebrød og lignende, som kan kjøpes på hytta. Hyttene er som regel låst med DNTs standardnøkkel, og kan ha hyttevakt i sesongene.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Hyttetype</label>
          {{ui-dropdown content=model.HYTTETYPE_CHOICES value=model.hyttetype data-validate="hyttetype"}}
        </div>

      </section>

      <div class="ui section divider"></div>

      {{dnt-hytteadmin-editor-section-kontakt model=model}}

      <div class="ui section divider"></div>

      {{dnt-hytteadmin-editor-section-fasiliteter model=model}}

      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">Beskrivelse</h3>
        {{#ui-tabs}}
          <div class="ui top attached tabular menu">
            <div class="item active" data-tab="tab-beskrivelse"><i class="no flag"></i> Norsk</div>
            <div class="item" data-tab="tab-description"><i class="gb flag"></i> Engelsk</div>
          </div>
          <div class="ui bottom attached tab segment active" data-tab="tab-beskrivelse">
            <div class="field">
              {{ck-editor value=model.beskrivelse data-validate="beskrivelse"}}
            </div>
          </div>
          <div class="ui bottom attached tab segment" data-tab="tab-description">
            {{ck-editor value=model.description}}
          </div>
        {{/ui-tabs}}
      </section>

      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">Adkomst</h3>
        <div class="ui info message">
          Merk at kun feltene for privat adkomst vil vises på UT.no.
        </div>
        <table class="ui celled two column table">
          <thead>
            <tr>
              <th>Sommer</th>
              <th>Vinter</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="field">
                  <label>Beskrivelse adkomst sommer</label>
                  {{textarea value=model.tilkomst.privat.sommer}}
                </div>
              </td>
              <td>
                <div class="field">
                  <label>Beskrivelse adkomst vinter</label>
                  {{textarea value=model.tilkomst.privat.vinter}}
                </div>
              </td>
            </tr>
            <tr class="{{if tilkomst_kollektiv_enabled 'warning'}}">
              <td colspan="2">
                {{ui-checkbox
                  label="Det er mulighet for adkomst ved hjelp av kollektivtransport"
                  checked=tilkomst_kollektiv_enabled
                  action="toggleTilkomstKollektiv"}}
                {{#if tilkomst_kollektiv_enabled}}
                  <p>For at det skal komme frem på UT at det er mulighet for adkomst ved hjelp av kollektivtransport må det fylles ut en beskrivelse av hvordan i feltet nedenfor.</p>
                {{/if}}
              </td>
            </tr>
            {{#if tilkomst_kollektiv_enabled}}
              <tr>
                <td>
                  <div class="field">
                    <label>Beskrivelse kollektivtransport sommer</label>
                    {{ck-editor value=model.tilkomst.kollektiv.sommer toolbar="links"}}
                  </div>
                </td>
                <td>
                  <div class="field">
                    <label>Beskrivelse kollektivtransport vinter</label>
                    {{ck-editor value=model.tilkomst.kollektiv.vinter toolbar="links"}}
                  </div>
                </td>
              </tr>
            {{/if}}
          </tbody>
        </table>
      </section>

      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">Åpningstider</h3>

        <div class="grouped fields">
          <label>Åpen kun mot bestilling</label>
          <div class="field">
            {{ui-checkbox
              type="radio"
              name="må_bestilles"
              value="Nei"
              label="Nei - Hytta kan ikke bestilles på forhånd"
              checked=model.privat.kun_bestilling}}
          </div>
          <div class="field">
            {{ui-checkbox
              type="radio"
              name="må_bestilles"
              value="Ja"
              label="Ja - Hele eller deler av hytta må bestilles på forhånd"
              checked=model.privat.kun_bestilling}}
          </div>
          <div class="field">
            {{ui-checkbox
              type="radio"
              name="må_bestilles"
              value="Delvis"
              label="Delvis - Hele eller deler av hytta kan bestilles på forhånd"
              checked=model.privat.kun_bestilling}}
          </div>
        </div>
        {{#if model.enable_kun_bestilling_kommentar}}
          <div class="field">
            <label>Kommentar</label>
            {{input type="text" value=model.privat.kun_bestilling_kommentar placeholder="Hvordan kan man bestille?"}}
          </div>
        {{/if}}

        {{ui-checkbox
          label="Hytta er åpen hele året"
          checked=model.er_helårs}}
        <table class="ui celled table">
          <thead>
            <tr>
              {{#unless model.er_helårs}}
                <th>Fra</th>
                <th>Til</th>
              {{/unless}}
              <th>Kommentar</th>
              <th>Nøkkel</th>
              <th>Betjeningsgrad</th>
              {{#unless model.er_helårs}}
                <th>Fjern</th>
              {{/unless}}
            </tr>
          </thead>
          <tbody>
            {{#each model.privat.åpningstider as |periode|}}
              <tr>
                {{#unless model.er_helårs}}
                  <td>{{pikaday-input value=periode.fra}}</td>
                  <td>{{pikaday-input value=periode.til}}</td>
                {{/unless}}
                <td>{{input value=periode.kommentar}}</td>
                <td>{{input value=periode.nøkkel}}</td>
                <td>{{ui-dropdown content=model.BETJENINGSGRAD_CHOICES value=periode.betjeningsgrad}}</td>
                {{#unless model.er_helårs}}
                  <td>
                    <button class="basic ui icon button" {{action "removeÅpningstiderPeriode" periode}}>
                      <i class="remove icon"></i>
                    </button>
                  </td>
                {{/unless}}
              </tr>
            {{/each}}
          </tbody>
          {{#unless model.er_helårs}}
            <tfoot>
              <tr>
                <th colspan="6">
                  <button class="ui primary button" {{action "addÅpningstiderPeriode"}}><i class="icon add"></i> Legg til periode</button>
                </th>
              </tr>
            </tfoot>
          {{/unless}}
        </table>

      </section>

      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">Sengeplasser</h3>
        <p>Hvor mange sengeplasser er det på hytta?</p>
        <table class="ui celled five column table">
          <thead>
            <tr>
              <th class="single line">Betjent kvarter</th>
              <th>Selvbetjent kvarter</th>
              <th>Ubetjent kvarter</th>
              <th>Vinter</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{input type="text" value=model.privat.senger.betjent}}</td>
              <td>{{input type="text" value=model.privat.senger.selvbetjent}}</td>
              <td>{{input type="text" value=model.privat.senger.ubetjent}}</td>
              <td>{{input type="text" value=model.privat.senger.vinter}}</td>
            </tr>
          </tbody>
        </table>
      </section>

      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">Lenker</h3>
        {{#dnt-link-manager links=model.lenker validationRules=validationRules}}{{/dnt-link-manager}}
        <div class="ui info message">
          Lenkenes tittel vil ikke bli vist på UT.no. Bruk feltet <strong>Type</strong> for å bestemme hva lenken skal hete på UT.no.
        </div>
      </section>

      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">Geografi</h3>
        <div class="ui grid">
          <div class="twelve wide column">
            {{leaflet-map marker=model.lat_lng center=model.lat_lng zoom="15"}}
          </div>
          <div class="four wide column">
            <div class="field">
              <label>Høyde over havet</label>
              {{input type="text" readonly="" value=model.geojson.properties.altitude}}
            </div>

            <div class="ui fluid vertical menu">
              <div class="item">
                <div class="ui list">
                  <div class="item">
                    <div class="header">Områder</div>
                  </div>
                  {{#if model.områder}}
                    {{#each model.områder as |område|}}
                      <div class="item">
                        <i class="remove circle icon"></i>
                        <span>{{område.navn}}</span>
                      </div>
                    {{/each}}
                  {{else}}
                    <div class="item">
                      <span>Ingen områder</span>
                    </div>
                  {{/if}}
                </div>
              </div>
              <div class="item">
                {{ui-dropdown-remote-area placeholder="Legg til område" action="addOmrådeById"}}
              </div>
            </div>

            <div class="field">
              <label>Kart 1:50 000</label>
              {{input type="text" value=model.kart}}
            </div>
            <div class="field">
              <label>Turkart</label>
              {{ui-dropdown multiple=true search=true allowAdditions=true value=model.turkart}}
            </div>
            {{!-- {{#if user.er_admin}} --}}
              <h4 class="ui dividing header">Posisjon</h4>
              <div class="field">
                <label>Breddegrad</label>
                {{input value=model.latitude}}
              </div>
              <div class="field">
                <label>Lengdegrad</label>
                {{input value=model.longitude}}
              </div>
            {{!-- {{/if}} --}}
          </div>
        </div>
      </section>

      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">Bilder</h3>
        <div class="ui info message">
          <div class="header">
            Endringer i bilder vil ikke bli lagret
          </div>
          Implementasjon av dette gjenstår.
        </div>
        <div class="ui info message">
          Gode bilder er viktig for å formidle hvordan det ser ut på hytta. Legg inn nok bilder til at man får et godt inntrykk av hytta, men pass på at det ikke blir for mange av lignende motiver.
        </div>
        <div class="ui grid">
          {{#each model.bilder as |bilde|}}
            <div class="four wide column">
              <img class="ui fluid image" src="{{bilde.img.1.url}}">
              {{input type="text" value=bilde.beskrivelse placeholder="Beskrivelse"}}
              {{input type="text" value=bilde.fotograf.navn placeholder="Navn"}}
              {{input type="text" value=bilde.fotograf.epost placeholder="Epost"}}
              {{input type="text" value=bilde.fotograf.kreditering placeholder="Kreditering"}}
              {{ui-dropdown multiple=true search=true value=bilde.tags content=bilde.TAGS_CHOICES}}
            </div>
          {{/each}}
        </div>
      </section>

    {{/ui-form}}

  </div>
</div>
{{outlet}}
