{{dnt-hytteadmin-messages warnings=warnings errors=errors}}

<div class="ui grid">
  <div class="sixteen wide column">
    {{#ui-form isSaving=model.isSaving validationRules=validationRules validateImmidiately=model.isExisting}}

      {{dnt-hytteadmin-editor-section-generelt model=model}}
      <div class="ui section divider"></div>

      {{dnt-hytteadmin-editor-section-kontakt model=model}}
      <div class="ui section divider"></div>

      {{dnt-hytteadmin-editor-section-fasiliteter model=model}}
      <div class="ui section divider"></div>

      {{dnt-hytteadmin-editor-section-beskrivelse model=model}}
      <div class="ui section divider"></div>

      {{dnt-hytteadmin-editor-section-adkomst model=model}}
      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">
          Åpningstider
          {{#ui-help-text}}
            <p class="help">Hvis hytta er tilgjengelig med samme betjeningsgrad hele året er det ikke nødvendig å angi dato, bare kryss av for "Helårs" og velg nøkkeltype og betjeningsgrad. NB! Ikke kryss av for helårsåpen hvis hytta er stengt/utilgjengelig i perioder (se nedenfor).</p>
            <p class="help">Ved variasjon i åpningstider og betjeningsgrad må det legges inn en komplett og kronologisk datoliste for åpningstider/betjeningsgrad for hele kalenderåret, fra 1.1 - 31.12. Legg inn én datolinje for hver åpningstidsperiode. NB! Hvis hytta er stengt/utilgjengelig i perioder, er det spesielt viktig at perioden(e) defineres som stengt i åpningstidslista.</p>
          {{/ui-help-text}}
        </h3>
        <div class="grouped fields">
          <label>Åpen kun mot bestilling</label>
          <div class="field">
            {{ui-checkbox
              type="radio"
              name="må_bestilles"
              value="Nei"
              label="Nei - Hytta kan ikke bestilles på forhånd"
              checked=model.privat.kun_bestilling}}
          </div>
          <div class="field">
            {{ui-checkbox
              type="radio"
              name="må_bestilles"
              value="Ja"
              label="Ja - Hele eller deler av hytta må bestilles på forhånd"
              checked=model.privat.kun_bestilling}}
          </div>
          <div class="field">
            {{ui-checkbox
              type="radio"
              name="må_bestilles"
              value="Delvis"
              label="Delvis - Hele eller deler av hytta kan bestilles på forhånd"
              checked=model.privat.kun_bestilling}}
          </div>
        </div>
        {{#if model.enable_kun_bestilling_kommentar}}
          <div class="field">
            <label>Kommentar</label>
            {{input
              type="text"
              value=model.privat.kun_bestilling_kommentar
              placeholder="Hvordan kan man bestille?"}}
          </div>
        {{/if}}

        {{ui-checkbox
          label="Hytta er åpen hele året"
          checked=model.er_helårs}}
        <table class="ui celled table">
          <thead>
            <tr>
              {{#unless model.er_helårs}}
                <th>Fra</th>
                <th>Til</th>
              {{/unless}}
              <th>Kommentar</th>
              <th>Nøkkel</th>
              <th>Betjeningsgrad</th>
              {{#unless model.er_helårs}}
                <th class="one wide">Fjern</th>
              {{/unless}}
            </tr>
          </thead>
          <tbody>
            {{#each model.privat.åpningstider as |periode|}}
              <tr>
                {{#unless model.er_helårs}}
                  <td>{{pikaday-input value=periode.fra}}</td>
                  <td>{{pikaday-input value=periode.til}}</td>
                {{/unless}}
                <td>{{input value=periode.kommentar}}</td>
                <td>{{ui-dropdown content=model.NØKKEL_CHOICES value=periode.nøkkel}}</td>
                <td>{{ui-dropdown content=model.BETJENINGSGRAD_CHOICES value=periode.betjeningsgrad}}</td>
                {{#unless model.er_helårs}}
                  <td>
                    <button class="basic ui icon button" {{action "removeÅpningstiderPeriode" periode}}>
                      <i class="remove icon"></i>
                    </button>
                  </td>
                {{/unless}}
              </tr>
            {{/each}}
          </tbody>
          {{#unless model.er_helårs}}
            <tfoot>
              <tr>
                <th colspan="6">
                  <button class="ui primary button" {{action "addÅpningstiderPeriode"}}><i class="icon add"></i> Legg til periode</button>
                </th>
              </tr>
            </tfoot>
          {{/unless}}
        </table>

        {{#if model.har_spesialnøkkel}}
          <div class="field">
            <label>Kommentar til spesialnøkkel</label>
            {{input type="text" value=model.privat.spesialnøkkel_kommentar placeholder="Hvor får man tak i spesialnøkkel til hytta?"}}
          </div>
        {{/if}}

      </section>

      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">Sengeplasser</h3>
        <p>Hvor mange sengeplasser er det på hytta?</p>
        <table class="ui celled four column table">
          <thead>
            <tr>
              <th class="single line">Betjent kvarter {{#ui-help-text}}Hvor mange sengeplasser er det i det betjente kvarteret?{{/ui-help-text}}</th>
              <th>Selvbetjent kvarter {{#ui-help-text}}Hvor mange sengeplasser er det i det selvbetjente kvarteret?{{/ui-help-text}}</th>
              <th>Ubetjent kvarter {{#ui-help-text}}Hvor mange sengeplasser er det i det ubetjente kvarteret?{{/ui-help-text}}</th>
              <th>Vinter {{#ui-help-text}}Hvor mange sengeplasser er det i vintersesongen? Angi kun hvis annerledes enn for sommersesong.{{/ui-help-text}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{input type="number" value=model.senger.betjent}}</td>
              <td>{{input type="number" value=model.senger.selvbetjent}}</td>
              <td>{{input type="number" value=model.senger.ubetjent}}</td>
              <td>{{input type="number" value=model.senger.vinter}}</td>
            </tr>
          </tbody>
        </table>
      </section>

      <div class="ui section divider"></div>

      <section>
        <h3 class="ui header">Lenker</h3>
        {{#dnt-link-manager links=model.lenker validationRules=validationRules}}{{/dnt-link-manager}}
      </section>

      <div class="ui section divider"></div>

      {{dnt-hytteadmin-editor-section-geografi model=model user=user}}
      <div class="ui section divider"></div>

      {{dnt-hytteadmin-editor-section-bilder bilder=model.bilder createPhoto="createPhoto" removePhoto="removePhoto"}}
      {{outlet "photos-edit"}}

    {{/ui-form}}

  </div>
</div>
{{outlet}}
