{{#if isLoading}}
  <div class="ui segment" style="margin-top: 20px; height: 100px;">
    <div class="ui active inverted dimmer">
      <div class="ui text loader"></div>
    </div>
  </div>
{{else if model}}
  <h3 class="ui header">Alle DNT-hytter</h3>
  <p>Her kan du laste ned en oversikt over alle DNT-hytter som CSV-fil. CSV er et fleksibelt dataformat som for eksempel kan åpnes i Excel.</p>
  <button class="ui basic button" type="button" {{action "export"}}>
    <i class="icon download"></i>
    Last ned CSV
  </button>
  <table class="ui table">
    <thead>
      <tr>
        <th>Hytte</th>
        <th>Betjeningsgrad</th>
        <th>Områder</th>
        <th>Juridisk eier</th>
        <th>Posisjon</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |cabin|}}
        <tr>
          <td>
            <a href="{{cabin.ut_url}}" class="item" target="_blank">
              {{ cabin.navn }}
            </a>
          </td>
          <td>
            {{ cabin.betjeningsgrad }}
          </td>
          <td>
            {{# each cabin.områder as |område| }}
              {{ område.navn }}{{#unless (eq område cabin.områder.lastObject)}}, {{/unless}}
            {{/each}}
          </td>
          <td>
            {{ cabin.juridisk_eier.navn }}
          </td>
          <td>
            {{#if cabin.geojson.coordinates.length}}
              {{ cabin.geojson.coordinates.[1] }},
              {{ cabin.geojson.coordinates.[0] }}
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="ui icon info message">
    <i class="frown icon"></i>
    <div class="content">
      <div class="header">Fant ingen hytter</div>
      <p>Det skjedde en feil ved henting av hytter.</p>
    </div>
  </div>
{{/if}}
