<div class="ui message">
  <div class="ui two column center aligned middle aligned stackable very relaxed grid">
    <div class="column">
      <div class="content">
        {{dnt-hytteadmin-list-filter params=filterParamsObject}}
      </div>
    </div>
    <div class="ui vertical divider">
      eller
    </div>
    <div class="column">
      <div class="content">
        <div class="ui right action left icon input">
          <i class="search icon"></i>
          {{input type="text" placeholder="Finn hytte med navn" value=searchTerm enter="search"}}
          <button class="ui blue button" {{action "search"}}>
            <div class="text">Søk</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{{#if isLoading}}
  <div class="ui segment" style="margin-top: 20px; height: 100px;">
    <div class="ui active inverted dimmer">
      <div class="ui text loader"></div>
    </div>
  </div>
{{else if model}}
  <table class="ui table">
    <thead>
      <tr>
        <th>Hytte</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |cabin|}}
        {{dnt-hytteadmin-index-list-item cabin=cabin user=user.model}}
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <th>
          <div class="ui right floated pagination menu">
            {{#ui-pagination-button class="icon" action="previousPage" enabled=hasPreviousPage}}
              <i class="left chevron icon"></i>
            {{/ui-pagination-button}}
            {{#each pages as |page|}}
              {{#ui-pagination-button action="goToPage" page=page}}
                {{page.number}}
              {{/ui-pagination-button}}
            {{/each}}
            {{#ui-pagination-button class="icon" action="nextPage" enabled=hasNextPage}}
              <i class="right chevron icon"></i>
            {{/ui-pagination-button}}
          </div>
        </th>
      </tr>
    </tfoot>
  </table>
{{else}}
  <div class="ui icon info message">
    <i class="frown icon"></i>
    <div class="content">
      <div class="header">Fant ingen hytter</div>
      {{#if queryIsFilter}}
        <p>Vi kunne ikke finne noen hytter som {{relation.label}} {{gruppe.navn}}.</p>
      {{else if queryIsSearch}}
        <p>Vi kunne ikke finne noen hytter med navn som inneholdt {{searchTerm}}.</p>
      {{/if}}
    </div>
  </div>
{{/if}}
